
/*Aditional styling specific only for blog*/
.section-title {
  grid-column: span 12;
  text-align: center;
  color: rgb(6, 24, 52);
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 40px;
}

/*
Blog has:
Blog Text Section
Blog Video Section
Blog Section
*/


/*Blog Text Section*/
.blog-text-head {
  color: rgb(6, 24, 52);
  font-weight: 500;
  font-size: 24px;
}
.blog-text ul {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-position: inside;
  padding-left: 20px;
}

.blog-text li {
  font-weight: 300;
  line-height: 1.8;
  font-size: 18px;
}

.blog-text li {
  color: black;
}

.blog-page {
  padding-top: 160px;
}

.blog-page h1 {
  grid-column: 2/span 10;
  color: rgb(6, 24, 52);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.blog-page span {
  grid-column: span 12;
  text-align: center;
  text-transform: uppercase;
  color: rgb(6, 24, 52);
  font-weight: 400;
  line-height: 1.8;
  font-size: 16px;
  opacity: 0.6;
}

.blog-page-wrapper {
  margin-top: 80px;
  margin-bottom: 22px;
  grid-column: 2/span 10;
}

.blog-page-holder {
  padding-top: 50%;
  position: relative;
}

.blog-page-holder img {
  scale: 1.3;
}

.blog-text {
  grid-column: 3/span 8;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}

.blog-text * {
  width: 100%;
}

.blog-text h3 {
  color: rgb(6, 24, 52);
  text-align: center;
  margin-bottom: 40px;
}

.blog-text p {
  color: #000;
}

.blog-text h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.blog-text blockquote {
  padding: 30px 30px;
}

.blog-text blockquote p {
  font-style: italic;
  font-weight: 400;
  color: rgb(6, 24, 52);
}


/*Blog Video Section*/
.video-holder {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-wrapper {
  padding-top: 60%;
  position: relative;
  z-index: 1;
}

.video-wrapper video {
  height: 101dvh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.video-play p {
  font-size: 20px;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}

.video-holder:hover .play {
  background-color: rgba(255, 255, 255, 0.3);
}

.play {
  transition: 0.3s;
  height: 101px;
  width: 101px;
  border-radius: 50px;
  border: 2px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.play img {
  width: 30%;
  height: 30%;
}

.tint-play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
  transition: 0.3s;
}

.playing .tint-play {
  opacity: 0;
}

.playing .video-play {
  opacity: 0;
}




/*Blog Section*/
.blog-section {
  padding-top: 80px;
  padding-bottom: 160px;
  background-color: white;
}

.blog-section h2 {
  grid-column: span 12;
  text-align: center;
  color: rgb(6, 24, 52);
  margin-bottom: 40px;
}

.blog-section .grid {
  row-gap: 30px;
}

.blog-wrapper {
  grid-column: span 6;
  position: relative;
  margin-top: 30px;
}

.blog-wrapper .open-section-10 {
  bottom: auto;
  top: 0;
}

.blog-wrapper img {
  scale: 1.05;
  transition: 0.4s;
}

.blog-holder {
  padding-top: 60%;
  position: relative;
  z-index: 1;
}

.blog-holder picture {
  z-index: 1;
}

.blog-holder .header-tint {
  z-index: 2;
  height: 100%;
  opacity: 0.4;
}

.top-left {
  z-index: 2;
  position: absolute;
  left: 45px;
  top: 45px;
}

.top-left p {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

.bottom-left {
  z-index: 2;
  position: absolute;
  left: 45px;
  bottom: 30px;
}

.bottom-left__heading {
  color: white;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 0;
  text-transform: uppercase;
}

.bottom-left p {
  font-size: 16px;
  padding: 0;
  max-height: 0;
  transition: 0.4s;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.77, 0.16, 0.09, 0.94);
  color: white;
}

.blog-wrapper:hover .bottom-left p {
  max-height: 60px;
  padding: 12px 0;
  opacity: 0.9;
}

.blog-wrapper:hover img {
  scale: 1;
}

.open-section-10 {
  z-index: 5;
  position: absolute;
  background-color: rgb(6, 24, 52);
  opacity: 0.8;
  height: 0;
  width: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-section-10 div {
  overflow: clip;
  width: -moz-fit-content;
  width: fit-content;
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.open-section-10 img {
  transform: translate3d(-150%, 150%, 0);
  -webkit-filter: invert(100%);
  width: 50%;
  height: 50%;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}

.header-tint {
  position: absolute;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  transition: 0.9s;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}
@media only screen and (min-width: 650px) {
  .blog-wrapper:hover .open-section-10 {
    height: 100px;
    width: 100px;
  }

  .blog-wrapper:hover .open-section-10 img {
    transform: translate3d(0, 0, 0);
  }
}


@media only screen and (max-width: 1150px) {
  /*Section*/
  .blog-wrapper {
    grid-column: 2/span 10;
  }
  .blog-page {
    padding-top: 120px;
  }
  .blog-page h1 {
    grid-column: span 12;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .blog-page span {
    font-size: 13px;
  }
  .blog-page-wrapper {
    margin-top: 50px;
    grid-column: span 12;
    padding: 0 !important;
    margin-bottom: 28px;
  }
  .blog-text {
    grid-column: span 12;
  }
  .blog-text .video-wrapper {
    padding-top: 60%;
  }
  .blog-text h3 {
    margin-bottom: 28px;
  }
  .blog-wrapper {
    box-sizing: content-box;
  }
  .blog-wrapper * {
    padding: 0;
  }
  .blog-wrapper .blog-holder {
    padding-top: 60%;
  }
  .blog-wrapper .open-section-10 {
    right: 24px;
  }
}
@media only screen and (max-width: 850px) {
  
  /*Section*/
  .blog-wrapper {
    grid-column: span 12;
    box-sizing: content-box;
  }
  .blog-wrapper * {
    padding: 0;
  }
  .blog-wrapper .blog-holder {
    padding-top: 120%;
  }
  .section-title{
    text-align: left;
    margin-bottom: -12px;
  }
  .blog-wrapper .open-section-10 {
    right: 0;
  }
  .blog-wrapper p {
    max-height: 60px;
    padding: 8px 0 0 0 !important;
    opacity: 0.9;
    font-size: 18px;
  }

  .top-left {
    left: 20px;
    top: 20px;
  }
  .bottom-left {
    left: 20px;
    bottom: 20px;
  }
  .bottom-left__heading {
    font-size: 17px;
  }
  
}
@media only screen and (max-width: 650px) {

  .section-title {
    margin-top: 60px;
    margin-bottom: 10px;
        text-align: left;
    margin-bottom: -4px;
  }
  
  .blog-text li {
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
  }
  .blog-text ul {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .blog-wrapper p {
    max-height: 60px;
    padding: 0;
    opacity: 0.9;
    font-size: 14px;
  }

  .play {
    height: 70px;
    width: 70px;
  }
  .video-play p {
    font-size: 14px;
  }
  .blog-page-holder {
  padding-top: 150%;
  position: relative;
}
.blog-page-wrapper {
    margin-top: 40px;
    margin-bottom: 22px;
  }
}
