
$medium-grey:#838383;
$white:#FFFFFF;
$black:#000000;
$blue:#0047FF;
$light-grey:#FAFAFA;




.naslov{

    padding-top: 108px+128px;
    margin-bottom: 40px;
    
    div{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        column-gap: 16px;
        grid-column: span 12;
        
    }
    
}
.shine{
    
    height: 70px;
    width: 76px;
    margin-left: 670px;
    margin-top: -170px;
}
.term {
    
    grid-column: 2/span 10;
    z-index: 3;
    margin-bottom: 108px;
    text-align: center;
    h5 {
        margin-bottom: 4px;
        color:$medium-grey;
        font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.23em;
    }
    h3{
        margin-bottom: 20px;
        font-weight: 400;
  font-size: 38px;
  line-height: 52px;
    }
}

.mega_title {
  font-weight: 300;
  font-size: 112px;
  line-height: 100%;
  margin: 0;
}
.e_text{
    margin-bottom: 64px;
    grid-column: span 5;
    z-index: 3;
    height: auto;
    h5{
    color: $blue;
    margin-bottom: 16px;
    }
}